<h2>Your pirate of choice <h2> 
<p>{{pirate.name}}</p>
<p>{{pirate.birthplace}}</p>
<p>{{pirate.death_year}}</p>
<p>{{pirate.base}}</p>
<p>{{pirate.nickname}}</p>

<a class = "btn btn-default" href="/pirates">Return Home</a>
	